{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "plugins": ["@typescript-eslint", "simple-import-sort", "import"],
    "extends": [
        "eslint:recommended",
        "airbnb",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript",
        "plugin:@typescript-eslint/recommended"],
    "env": {
        "browser": true,
        "amd": true,
        "node": true
    },
    "rules": {
        "no-console": "error",
        "indent": ["error", 4],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "object-curly-spacing": ["error", "always"],
        "simple-import-sort/imports": "error",
        "sort-imports": "off",
        "import/first": "error",
        "import/newline-after-import": "error",
        "import/no-duplicates": "error",
        "import/no-unresolved": "warn",
        "import/no-cycle": "warn",
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": ["error"],
        "default-param-last": "off",
        "no-param-reassign": ["error", { "props":  false}],
        "@typescript-eslint/default-param-last": ["error"],
        "@typescript-eslint/explicit-member-accessibility": ["error"],
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "import/prefer-default-export": "off",
        "class-methods-use-this": "off",
        "no-plusplus": "off",
        "no-loop-func": "off",
        "@typescript-eslint/no-loop-func": ["error"],
        "max-classes-per-file": ["warn"],
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": ["error"],
        "linebreak-style": "off"
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".ts"]
        },
        "import/resolver": {
            // use <root>/tsconfig.json
            "typescript": {
                "alwaysTryTypes": true // always try to resolve types under `<root>@types` directory even it doesn't contain any source code, like `@types/unist`
            },
            "node": {
                "extensions": [".js", ".ts"],
                "paths": ["src", "assets"]
            },
            "alias": [
                ["src", "./src"],
                ["assets", "./assets"]
            ]
        }
    }
}
